:host * {
  transition: all 250ms ease-in-out;
}

.content {
  padding: 1.5rem;
}

mat-sidenav-container {
  height: calc(100dvh - 4rem);
  --mat-sidenav-container-background-color: var(--sys-surface-container-low);
}

.sidenav-header {
  padding-top: 1.5rem;
  text-align: center;
  gap: 0.5rem;

  > img {
    border-radius: 100%;
    object-fit: cover;
  }
}

.header-text {
  height: 3rem;

  > h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  > p {
    margin: 0;
    font-size: 0.8rem;
  }
}

.hide-header-text {
  opacity: 0;
  height: 0px;
}

.menu-item {
  border-left: 0.25rem solid;
  border-left-color: transparent;
}

.selected-menu-item {
  border-left-color: #cc0000;
}

// mat-sidenav {
//   border: 1px solid;
// }

mat-sidenav,
mat-sidenav-content {
  transition: all 250ms ease-in-out;
}

.indented {
  --mat-list-list-item-leading-icon-start-space: 3rem;
}



// .mat-drawer-side {
//     // border-right-color: var(--mat-sidenav-container-divider-color);
//     border-right-width: 1px;
//     border-right-style: solid;
// }
