<div class="base-stats-widgets">
  <div class="widget mat-elevation-z3">

    <div class="widget-header">
      <img [src]="data.logo" [alt]="data.ticker + ' logo'" />
      <div>
        <p class="name">{{ data.name }}</p>
      </div>
    </div>

    <div class="widget-body">
      <p class="revenueText">Revenue {{ data.lastQuarter | quarterFormat }}</p>
      <p class="revenueNumber">{{ data.lastRevenue ? (data.lastRevenue | billionFormat) : '-' }}</p>
      <p class="infoText">in Bill. USD</p>
    </div>
  </div>
</div>



<!-- <p class="ticker">{{ data.ticker }}</p> -->