<div class="base-stats-widgets">
  <div class="widget mat-elevation-z3" [style.color]="data.color ?? 'inherit'">

    <div class="widget-header">
      <img [src]="data.logo" [alt]="data.ticker + ' logo'" />
      <p>{{ data.ticker }}</p>
    </div>

    <div class="widget-body">
      <p>Revenue: {{ data.data.revenue[data.data.revenue.length - 1] | number:'1.0-2' }}</p>
      <p>Net Income: {{ data.data.netIncome[data.data.netIncome.length - 1] | number:'1.0-2' }}</p>
      <p>Gross Margin: {{ data.data.grossMargin[data.data.grossMargin.length - 1] | number:'1.0-2' }}%</p>
    </div>
  </div>
</div>
