* {
  box-sizing: border-box;
}

:host {
  display: block;
  border-radius: 0.5rem;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  overflow: hidden;
  padding: 0.5rem;
}

.label {
  height: 1rem;
  cursor: move;
}

.settings-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
